.input:focus {
}

.input {
    border-radius: 5px;
    width: 332px;
    min-height: 36px;
    margin-bottom: 10px;

}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;

}

.superInput {

}

.errorInput {
    border-color: red;
}

.errorInput:focus {
    border-color: red;
}

.error {
    color: red;
}
