.greetingForm {
    margin-top: 53px;
    margin-left: 70px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    color: #cc0000;
}

.input {
    min-width: 372px;
    min-height: 36px;
    border: 1px solid black;
    border-radius: 5px;
}

.input:focus {

}

.errorInput {
    border-color: #CC0000;
}

.button {
    width: 78px;
    height: 36px;
    border-radius: 3px;
    border: none;
    background-color: #0066CC;
    color: #FFFFFF;
}

.button:focus {

}

.button:active {

}
.button:hover {
    cursor: pointer;
}

.button:disabled {
    opacity: 50%;
    cursor: default;
}

.text {
    color: #00000080;
}

.greeting {
}
